.header {
    padding: .5em;
    text-align: center;
    background:blue;
    color: white;
    font-size: 1.8em;
}

.textClass{
    width: 80%;
    font-size: 1em;
}

.toFieldClass{
    width:35%;
    font-size: 1em;
}

.URL{
    width: 65%;
}

