.header {
    padding: .5em;
    text-align: center;
    background:blue;
    color: white;
    font-size: 1.8em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
/* =================================== */


.textClass{
    width: 80%;
    font-size: 1em;
}

.toFieldClass{
    width:35%;
    font-size: 1em;
}

.URL{
    width: 65%;
}



/* =============== */
/* show and hide */

.hide{
    display: none;
}
.show{
    display: block;
}
